@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model Screenmedia.ToDo.Web.Models.ToDoNotes.ToDoNoteViewModel

<div class="@(Model.Done ? "done":"")">
    <b>@Model.Title</b> - @Model.Description <br />

</div>
<div>
    @using (Html.BeginForm("Edit", "ToDoNotes", FormMethod.Get, new { @style = "display:inline" }))
    {
        @Html.HiddenFor(m => m.Id)
        <input type="submit" value="@Localizer["Edit"]" />
    }

    @using (Html.BeginForm("Delete", "ToDoNotes", FormMethod.Post, new { @style = "display:inline" }))
    {
        @Html.HiddenFor(m => m.Id)
        <input type="submit" value="@Localizer["Delete"]" />
    }
</div>
