@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model Screenmedia.ToDo.Web.Models.ToDoNotes.ToDoNoteViewModel;

@{
    ViewData["Title"] = @Localizer["Create a ToDo Note"];
}

<div>
    @using (Html.BeginForm("Create", "ToDoNotes", FormMethod.Post))
    {
        @Html.ValidationSummary(false)
        @Html.LabelFor(m => m.Title) <br />
        @Html.TextBoxFor(m => m.Title) <br /><br />
        @Html.LabelFor(m => m.Description) <br />
        @Html.TextBoxFor(m => m.Description) <br /><br />
        <button type="submit">@Localizer["Create"]</button>
    }
</div>