@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model Screenmedia.ToDo.Web.Models.ToDoNotes.ToDoNoteViewModel;

@{
    ViewData["Title"] = Localizer["Edit a ToDo Note"];
}

<div>
    @using (Html.BeginForm("Update", "ToDoNotes", FormMethod.Post))
    {
        @Html.ValidationSummary(false)
        @Html.HiddenFor(m => m.Id)
        @Html.LabelFor(m => m.Title) <br />
        @Html.TextBoxFor(m => m.Title) <br /><br />
        @Html.LabelFor(m => m.Description) <br />
        @Html.TextBoxFor(m => m.Description) <br /><br />
        @Html.LabelFor(m => m.Done) <br />
        @Html.CheckBoxFor(m => m.Done) <br /><br />
        <button type="submit">@Localizer["Update"]</button>
    }
</div>
